.card {
  width: 90%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__title,
.card__question {
  margin-top: 0;
}

.card__bookmark {
  height: 2rem;
  position: absolute;
  top: -0.25rem;
  right: 10%;
}

.card.card--bookmarked .card__bookmark {
  color: red;
}
